.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color, red);
    color: var(--text-color, #fff);
    width: 100vw;
    position: relative;
    z-index: 1;
    overflow: hidden;

}


/* Main content offset below navbar */
.main-layout>main {
    flex-grow: 1;
    padding: 2rem;
    max-width: 100vw;
    margin: 0 15px;
    margin-top: calc(var(--navbar-height, 60px) * 2);
    background-color: inherit;
}

/* Optional footer styling */
.main-layout>footer {
    flex-shrink: 0;
    border-top: 1px solid #ddd;
    background-color: inherit;
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
}

.slider__Test {
    background-color: blue;
}