.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 100px; */
    color: var(--text-primary, #fff);
    padding: 1rem;
    gap: var(--spacing-xlg, 64px);
}

.home__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-xlg, 60px);
    gap: var(--spacing-xl, 20px);
    z-index: var(--z-content, 10);
    width: fit-content;
    margin: 0 auto;
}

.home__title,
.home__locationText {
    font-family: var(--font-family, sans-serif);
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: var(--z-content, 10);
}

.home__title {
    font-size: var(--font-size-header-sm, 40px);
}

.home__locationText {
    font-size: var(--font-size-m, 16px);
}

.home__horizontalScroll {
    z-index: var(--z-content, 0);
}

@media (max-width: 768px) {
    .home__header {
        padding: 40px 20px;
        gap: var(--spacing-md, 12px);
        width: 100%;
    }

    /* .home__title {
        font-size: var(--font-size-header-sm, 40px);
    } */

    /* .home__locationText {
        font-size: var(--font-size-m, 14px);
    } */

    .home__horizontalScroll {
        overflow-x: auto;
        padding: 0 1rem;
    }
}