.scrollContainer {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    padding: var(--padding-md, 1rem);
    gap: var(--spacing-md, 1rem);
    scroll-snap-type: x mandatory;
    justify-self: center;
    align-content: center;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    width: 50%;
    backface-visibility: hidden;

}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.scrollTrack {
    display: inline-flex;
    width: fit-content;
    min-width: 200%;
    will-change: transform;
    backface-visibility: hidden;
    transform-origin: left center;

}

.animate {
    animation: scrollLeftToRight 40s linear infinite;
}

.scrollTrack:hover {
    animation-play-state: paused;
}

.icon {
    max-width: 64px;
    max-height: 64px;
    scroll-snap-align: start;
}

.scrollText {
    font-size: 0.875rem;
    white-space: nowrap;
    scroll-snap-align: start;
}

@keyframes scrollLeftToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .animate {
        animation-duration: 60s;
    }
}