.scrollContainer {
    overflow: hidden;
    max-width: 600px;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}


.scrollTrack {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scrollLeftToRight 40s linear infinite;
    padding-block: 1rem;
    gap: 1rem;
}

.scrollTrack:hover {
    animation-play-state: paused;
}

@keyframes scrollLeftToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50% - 0.5rem));
    }
}

.item {
    width: 74px;
    height: 74px;
    min-width: 74px;
    min-height: 74px;
    background-color: #1c1c1d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-right: 1rem;
    border-radius: 4px;
}

.icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.item:hover {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.scrollText {
    font-size: 0.875rem;
    white-space: nowrap;
    margin-right: 1rem;
}