.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: var(--padding-md, 1rem);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 16px);

    height: var(--navbar-height, 60px);
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
    margin-top: 20px;
    background-color: var(--navbar-bg, #4e4e4e);
    border: 1px solid var(--border-color, #4e4e4e);
    border-radius: var(--border-radius-xlg, 24px);
    font-size: var(--font-size-m, 16px);
}

.navbar__links {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md, 16px);
}

.navbar__active {
    color: var(--accent, red);
}

.navbar,
.navbar button {
    transition: background-color 0.3s ease, color 0.3s ease;
}
