.node {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: var(--spacing-lg, 1.5rem); */

    width: 100%;
    max-width: 800px;
    height: 200px;

    border-radius: var(--border-radius-md, 8px);
    padding: 0 0 0 var(--padding-md, 1rem);
    overflow: hidden;
}

.node__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-bg, #2f2f33);
    box-shadow: 5px 5px 10px var(--border-color, #3a3a3e);
    padding: var(--padding-md, 1rem);
}

.content__icon {
    flex-shrink: 0;
    width: var(--img-size-xlg, 100px);
    height: var(--img-size-xlg, 100px);
    object-fit: contain;
}

.lines {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.topLine,
.centerLine,
.bottomLine {
    width: 2px;
    background-color: var(--line-color, #888);
}

.topLine {
    height: 50%;
    position: absolute;
    top: 0;
}

.centerLine {
    width: 100%;
    height: 2px;
    background-color: var(--line-color, #888);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
}

.centerDot {
    width: 8px;
    height: 8px;
    background-color: var(--line-color, #888);
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
}

.bottomLine {
    height: 50%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 600px) {
    .centerLine {
        width: 2px;
        height: 40px;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}